body {
    background-color: #e0e0e0;
    margin: 0;
    width: fit-content;
    /* width: 800px; */
    /* max-width: 800px; */
    /* font-family: Ubuntu, Arial, Helvetica, sans-serif; */
    /* font-family: "Roboto", sans-serif; */
    box-sizing: border-box;
    padding-bottom: 21px;
}

.master-window-container {
    max-width: 800px;
    min-width: 304px;
    width: 800px;
    padding: 10px;
    /* padding-right: 10px; */
    width: fit-content;
    /* display: flex; */
}

.window-container {
    /* border: 2px darkgray solid; */
    border-radius: 4px;
    background-color: white;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 6px;
    /* display: inline; */
    padding-top: 12px;
    /* position: relative; */
}

.window-heading {
    margin-left: .25em;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: "Roboto Condensed", Arial, sans-serif;
}

.tab-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    pointer-events: none;
    font-family: "Roboto", Arial, sans-serif;

}

.tab-favicon {
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: .5em;
    margin-left: .5em;
    vertical-align: middle;
    pointer-events: none;
}

.tab {
    padding: 1px 0px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
}

.blank-tab {
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.tab:hover {
    background-color: #f4f4f4;
}

.highlight {
    background-color: lightblue;
}

.highlight:hover {
    background-color: lightblue;
}

.tab-list {
    padding-left: 0;
    list-style: none;
}

.hovered {
    border-top: 2px solid black;
    padding-top: 0px;
}

.drag-image {
    /* list-style: none; */
    width: 90%;
    padding: 0;
    position: absolute;
    left: -100%;
    display: inline-block;
}

.new-tab {
    position: absolute;
    top: 13px;
    right: .5em;
    object-fit:cover;

}

.actionbar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    /* text-align: center; */
    background-color: #e0e0e0;
    /* box-shadow: 0 0px 30px rgba(0,0,0,0.30), 0 0px 10px rgba(0,0,0,0.10); */
    /* display: inline; */
}

.actionbar-shadow {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.30), 0px 0px 10px rgba(0,0,0,0.10);
}

.actionbar button {
    display: flex;
}

@keyframes fade-out {
    from {
        background-color: yellow;
    }

    to {
        background-color: transparent;
    }
}

.on-move {
    animation: fade-out 1s ease-in;
}